header{
  background-color: white;
  z-index: 2;
  transition: background-color 0.2s;
  min-height: 10vh;
  text-align: center;
  font-family: 'Philosopher';
  font-size: 4rem;
  position: fixed;
  width: 100%;
}
@media (max-width: 556px) {
  header{
    font-size: 3rem;
  }
}

.card{
  /*margin: 1rem;*/
  border-radius: 25px;
}
.col-md-5{
  margin: 2.5rem;
}
.user{
  font-family: arial;
  font-size: 40%;
  display: inline-block;
  float: right;
  margin-top: 2%;
}
.hide{
  display: inline-block;
}
@media (max-width: 432px) {
  header{
    font-size: 2rem;
  }
  .user{
    font-size: 70%
  }
}
@media (max-width: 318px){
  .hide{
    display: none;
  }
}
footer{
  background-color: #454B69;
  transition: background-color 0.2s; 
  min-height: 10vh;
  text-align: center;
  font-family: Syne, sans-serif;
  color: white;
  bottom: 0;
  /* position: fixed; */
  width: 100%;
}

.buythings button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 136px;
  /* margin: 0 40px 0 16px; */
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.buythings button:hover {
  background-color: #79b0a1;
}
.buythings{
  display: inline-flex;
  padding: 10px;
}
#buykey{
  margin-top: .3rem;
  margin-right: 1rem;
}