.form-control{
  background: transparent!important;
  /*color: white!important;*/
  font-size: 18px!important;
  width: 80%;
  border-radius: 10px;
}

h4 {
  font-family: 'Dancing Script', cursive!important;
  font-family: Syne, sans-serif;
  border: 0 solid #fff; 
  border-bottom-width:1px;
  padding-bottom:10px;
  text-align: center;
}

.wrapper {
  text-align: center;
}