.img-fluid {
  margin: 10%;
  max-width: 70%;
  height: auto;
}
header{
  background-color: white;
  z-index: 2;
  transition: background-color 0.2s;
  min-height: 10vh;
  text-align: center;
  font-family: 'Philosopher';
  font-size: 4rem;
  position: fixed;
  width: 100%;
}
.user{
  font-family: arial;
  font-size: 40%;
  display: inline-block;
  float: right;
  margin-top: 2%;
}
footer{
  background-color: #454B69;
  transition: background-color 0.2s; 
  min-height: 10vh;
  text-align: center;
  font-family: Syne, sans-serif;
  color: white;
  bottom: 0;
  position: fixed;
  width: 100%;
  margin-left: 0px;
}
/*login.css*/
.form-control{
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 4px;
  background: transparent!important;
  font-size: 18px!important;
  border-radius: 10px;
}

.title{
  font-family: "Allerta Stencil", Sans-serif;
  font-size: 2rem;
}

.lable{
  text-align: left;
}

h4 {
  font-family: "Allerta Stencil", Sans-serif;
  border: 0 solid #fff; 
  border-bottom-width:1px;
  padding-bottom:10px;
  text-align: center;
}
.hide{
  display: inline-block;
}
@media (max-width: 554px) {
  header{
    font-size: 2rem;
  }
  .user{
    font-size: 70%
  }
}
@media (max-width: 344px){
  .hide{
    display: none;
  }
}
.card{
  /*margin: 1rem;*/
  height: auto;
  display: inline-flex;
  border-radius: 25px;
}

.wrapper {
  height: 420px;
  /* width: 654px; */
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  float: left;
  height: 420px;
  width: 327px;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 300px;
  width: 327px;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
  font-family: 'Bentham', serif;
}

.product-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 103px;
  /* width: 327px; */
  margin-top: 17px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: 'Trocchi', serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

span {
  display: inline-block;
  height: 50px;
  font-family: 'Suranna', serif;
  font-size: 34px;
}

.product-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 136px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}

.product-price-btn .dlt,
.product-price-btn .dlt-dis,
.product-price-btn .dlt-dis:hover {
  background-color: #eb9c9c;
  width : 120px;
}
.product-price-btn .dlt:hover{
  background-color: rgb(240, 74, 74);
}

.lable textarea {
  width: 40rem;
  /* height: 150px; */
}
