.img-fluid {
  margin: 10%;
  max-width: 70%;
  height: auto;
}
header{
  background-color: white;
  z-index: 2;
  transition: background-color 0.2s;
  min-height: 10vh;
  text-align: center;
  font-family: 'Philosopher';
  font-size: 4rem;
  position: fixed;
  width: 100%;
}
.user{
  font-family: arial;
  font-size: 40%;
  display: inline-block;
  float: right;
  margin-top: 2%;
}
footer{
  background-color: #454B69;
  transition: background-color 0.2s; 
  min-height: 10vh;
  text-align: center;
  font-family: Syne, sans-serif;
  color: white;
  bottom: 0;
  position: fixed;
  width: 100%;
  margin-left: 0px;
}
/*login.css*/
.form-control{
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 4px;
  background: transparent!important;
  font-size: 18px!important;
  border-radius: 10px;
}

.title{
  font-family: "Allerta Stencil", Sans-serif;
  font-size: 2rem;
}

.lable{
  text-align: left;
}

h4 {
  font-family: "Allerta Stencil", Sans-serif;
  border: 0 solid #fff; 
  border-bottom-width:1px;
  padding-bottom:10px;
  text-align: center;
}
.hide{
  display: inline-block;
}
@media (max-width: 554px) {
  header{
    font-size: 2rem;
  }
  .user{
    font-size: 70%
  }
}
@media (max-width: 344px){
  .hide{
    display: none;
  }
}
